<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="test.css">
    

</head>


<body>


    <div class="EVInfo"></div>




</body>

<script>
    const EV = document.querySelector(".EVInfo");
    console.log(EV);

    var position = {
        address_name: "충북 청주시 서원구 수곡동 77-2",
        distance: "997",
        place_name: "LH 충북본부 전기차충전소"
    };

    // var content = `
    //     "위치": ${position.place_name}<br/>
    //     "주소": ${position.address_name}<br/>
    //     "거리": ${position.distance} M
    //     `;


        var content = `
        <div class="align-items-stretch">
		<div class="info-wrap bg-primary w-100 p-md-5 p-4">
			<h3>Let's get in touch</h3>
			<p class="mb-4">We're open for any suggestion or just to have a chat</p>
			<div class="dbox w-100 d-flex align-items-start">
				<div class="icon d-flex align-items-center justify-content-center">
					<span class="fa fa-map-marker"></span>
				</div>
				<div class="text pl-3">
					<p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY 10016
					</p>
				</div>
			</div>
			<div class="dbox w-100 d-flex align-items-center">
				<div class="icon d-flex align-items-center justify-content-center">
					<span class="fa fa-phone"></span>
				</div>
				<div class="text pl-3">
					<p><span>Phone:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
				</div>
			</div>
			<div class="dbox w-100 d-flex align-items-center">
				<div class="icon d-flex align-items-center justify-content-center">
					<span class="fa fa-paper-plane"></span>
				</div>
				<div class="text pl-3">
					<p><span>Email:</span> <a
							href="mailto:info@yoursite.com">info@yoursite.com</a></p>
				</div>
			</div>
			<div class="dbox w-100 d-flex align-items-center">
				<div class="icon d-flex align-items-center justify-content-center">
					<span class="fa fa-globe"></span>
				</div>
				<div class="text pl-3">
					<p><span>Website</span> <a href="#">yoursite.com</a></p>
				</div>
			</div>
		</div>
	</div>
        `;

    const info = document.createElement('div');
    info.innerHTML = content;

    EV.appendChild(info);
</script>


</html>